PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/ecommerce?schema=public
DATABASE_URL_TEST=postgresql://postgres:postgres@localhost:5433/ecommerce_test?schema=public
